* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(157, 149, 221);
  --color-secondary: rgb(255, 255, 255);
  --color-accent: rgb(191, 175, 210);
  --color-border: rgb(122, 122, 122);
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--color-primary);
}

header {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tittle-container {
  font-weight: bold;
  background: var(--color-accent);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px var(--color-border);
  border: 1px solid var(--color-border);
  margin: 8px auto;
}

.card-container {
  position: relative;
  background: var(--color-secondary);
  border-radius: 8px;
  border: 1px solid var(--color-border);
  margin: 8px;
  padding: 16px;
  overflow: hidden;
}

.card-container:hover{
  cursor: pointer;
  background: rgb(235, 214, 255);
  transition: .3s ease-in-out;
}

.card-container p {
  margin: 0;
  transition: transform 0.3s ease;
}

.card-container i {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 20px;
  cursor: pointer;
}

.card-container:hover>p {
  cursor: pointer;
  transform: translateX(-10px);
}

.card-container:hover i {
  opacity: 1;
}

.card-container i:hover {
  transform: scale(1.2);
}


.list-container {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 12px;
  margin: 12px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 15px;
}

.new-card:hover {
  scale: 1.01;
  cursor: pointer;
  border-radius: 4px;
  background: rgb(225, 215, 229);
  padding: 4px;
  transition: .3s ease-in-out;
}

.list-container input {
  background: var(--color-secondary);
  border-radius: 8px;
  border: 1px solid var(--color-border);
  margin: 8px;
  padding: 8px;
  height: 60px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

.button-container button {
  color: var(--color-secondary);
  font-weight: bold;
  background: rgba(29, 24, 193, 0.778);
  width: 150px;
  height: 35px;
  margin: 4px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.button-container button:hover {
  transform: scale(1.05);
}

.button-container button:active {
  background: var(--color-accent);
  transform: scale(1);
}

.button-container i:hover {
  background: rgb(211, 211, 211);
  border-radius: 4px;
  transform: scale(1.2);
  cursor: pointer;

}